{% extends "notes/base.html" %}
{% load static %}
{% block title %}Note Details{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="col-sm-12">{{ note.title }}</h1>
        <p class="col-sm-12">{{ note.publish }}</p>
        <p class="col-sm-12 text-justify">{{ note.body }}</p>
    </div>
    <div class="row">
        <div class="col-4 col-md-2 col-lg-1">
            <form action="{{ note.get_update_url }}" method="GET" class="form-inline">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" name='update' value="Update">
            </form>
        </div>
        <div class="col-4 col-md-2 col-lg-1">
            <form action="{{ note.get_delete_url }}" method="POST" class="form-inline">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" name='delete' value="Delete">
            </form>
        </div>
    </div>
{% endblock %}