{% extends "notes/base.html" %}
{% load static %}
{% load markup_tags %}
{% block title %}Note Details{% endblock %}
{% block content %}
    <div class="row">
        <h3 class="col-sm-12 text-left">{{ note.title }}</h3>
        <p class="col-sm-12">{{ note.publish }}</p>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col-sm-12 text-justify">{{ note.body|markup }}</div>
    </div>
    <hr class="mt-4 mb-2"> 
    <div class="row">
        <div class="col-4 col-md-2 col-lg-1">
            <form action="{{ note.get_update_url }}" method="GET" class="form-inline">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary" name='update' value="Update">
            </form>
        </div>
        <div class="col-4 col-md-2 col-lg-1">
            <form action="{{ note.get_delete_url }}" method="POST" class="form-inline">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" name='delete' value="Delete">
            </form>
        </div>
    </div>
{% endblock %}